* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html {
  /* background-color: ; */
}

body {
  position: relative;
  background-color: rgb(240, 240, 240);
}

main {
  padding: 0 25px;
  margin-top: 35px;
  padding-bottom: 55px;
}

header {
  padding: 15px 25px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #333;
}

#searchBar {
  width: 60%;
  max-width: 280px;
  margin: 0 auto;
  margin-bottom: 25px;
  height: 45px;
  border-radius: 20px;
  text-indent: 15px;
  border: none;
}

#searchBar::placeholder {
  text-indent: 15px;
}

#searchBar:focus {
  outline: none;
}

#searchBar::-webkit-search-cancel-button {
  position: relative;
  right: 20px;
  display: none;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.3px;
  color: #fff;
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.3em;
}

h2,
p {
  margin: 0;
}

p {
  font-weight: 300;
}

.modal p,
.modal .avatar {
  margin-bottom: 10px;
}

.modal p:nth-child(-n + 2),
.modal h2 {
  margin-bottom: 5px;
}

hr {
  margin: 20px 0 25px;
}

.t-gray {
  color: #778;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(100, 100, 100, 0.4);
  height: 100%;
  width: 100%;
}

.modal {
  width: 350px;
  height: auto;
  margin: 15% auto auto;
  /* position: relative; */
  text-align: center;
  background: #fff;
  border: 1px solid #778;
  border-radius: 5px;
  padding: 30px 20px;

  position: fixed;
  top: 150px;
  left: 100px;
  right: 100px;
}

.modal-close {
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background: #fff;
  height: 25px;
  width: 25px;
  font-weight: 300;
  transition: background-color 0.4s;
}

.modal-close:hover {
  background-color: rgb(240, 240, 240);
}

.hidden {
  display: none;
}

.grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #fff;
  height: 250px;
  width: 250px;
  border: 1px solid rgba(73, 73, 73, 0.322);
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  padding: 10px 15px;
  margin-bottom: 25px;
  transition: transform 0.4s;
}

.card:hover {
  transform: scale(1.01);
}

.arrow,
.card {
  cursor: pointer;
}

.arrow {
  border-radius: 50%;
  border: 1px solid gray;
  height: 50px;
  width: 50px;
  font-size: 30px;
  background-color: #fff;
  transition: background-color 0.5s;
  font-weight: 300;
}

.arrow:hover {
  background-color: rgb(240, 240, 240);
}

#left-arrow {
  position: absolute;
  left: 90px;
}

#right-arrow {
  position: absolute;
  right: 90px;
}

.avatar {
  height: 95px;
  width: 95px;
  border-radius: 50%;
  margin: 10px;
  margin-left: 60px;
  margin-bottom: 25px;
}

.modal .avatar {
  margin: auto;
  margin-bottom: 15px;
  transition: transform 0.5s ease-in-out;
}

.modal .avatar:hover {
  transform: scale(1.1);
}

.text-container {
  word-break: break-all;
  text-align: center;
}

.card .email,
.card .name {
  overflow-wrap: break-word;
  margin-bottom: 7px;
}

/* // -------------------------------------
// MEDIA QUERIES
// ------------------------------------- */
@media (min-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    grid-gap: 5px;
    row-gap: 25px;
    justify-items: center;
    padding: 0;
  }

  #searchBar {
    max-width: 350px;
  }

  .card {
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: left;
    height: 140px;
    width: 324px;
    padding: 10px;
    margin: 10px 0;
    transition: width 0.4s;
  }
  .card:hover {
    width: 360px;
  }

  .avatar {
    margin: auto 0;
    margin-right: 25px;
  }
  .modal {
    width: 375px;
    text-align: center;
  }

  .text-container {
    text-align: left;
    margin: auto 0;
  }

  .modal .text-container {
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .grid-container {
    /* grid-template-rows: auto auto; */
    grid-template-columns: 1fr 1fr 1fr;
  }
  header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 55px;
    padding-bottom: 55px;
  }
  h1 {
    text-align: unset;
    /* display: inline; */
    /* margin-right: auto; */
    margin-left: calc(100% / 30);
  }
  #searchBar {
    margin-left: auto;
    margin-top: 11px;
    margin-right: 55px;
    /* margin-left: auto; */
  }
}
